Django==5.2.5
djangorestframework==3.16.0
djangorestframework_simplejwt==5.5.0
drf_yasg==1.21.10
forex_python==1.9.2
gevent==25.5.1
kombu==5.5.4
python-dotenv==1.1.1
stripe==12.3.0
celery==5.5.3
django-filter==25.1
django-celery-beat==2.8.1
psycopg2-binary==2.9.10
redis==6.2.0
pillow==11.3.0
